<?xml version="1.0" encoding="UTF-8" ?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-screenstatus" version="1.0.0">

    <name>Cordova ScreenStatus Plugin</name>
    <license>MIT</license>
    <author>Michael Jedich</author>

    <description>Cordova plugin to monitor status changes of the screen.</description>
    <keywords>android,screen,status,listener,power,on,off</keywords>
    <repo>https://github.com/kolbasa/cordova-plugin-screenstatus</repo>
    <issue>https://github.com/kolbasa/cordova-plugin-screenstatus/issues</issue>

    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=9.0.0"/>
    </engines>

    <js-module src="www/ScreenStatus.js" name="ScreenStatus">
        <clobbers target="window.ScreenStatus"/>
    </js-module>
    <js-module src="www/API.js" name="API"/>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ScreenStatus">
                <param name="android-package" value="de.kolbasa.screenstatus.ScreenStatus"/>
            </feature>
        </config-file>

        <source-file src="src/android/ScreenStatus.java" target-dir="src/de/kolbasa/screenstatus"/>

    </platform>

</plugin>
